
body {
    background-color: green;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start-el {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

#newCard-el {
    position: absolute;
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}